/* general styles */

html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {

 .text-vcenter h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
 .text-vcenter h3 {
  font-size: 1.3em;
  font-weight: 200;
  margin: 0;
  padding: 5px;
}

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

 .text-vcenter h1 {
  font-size: 2.8em;
  font-weight: 550;
  margin: 0;
  padding: 0;
}
 .text-vcenter h3 {
  font-size: 1.5em;
  font-weight: 250;
  margin: 0;
  padding: 8px;
}
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

 .text-vcenter h1 {
  font-size: 3.5em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
 .text-vcenter h3 {
  font-size: 1.8em;
  font-weight: 200;
  margin: 0;
  padding: 10px;
}
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {

 .text-vcenter h1 {
  font-size: 4.3em;
  font-weight: 700;
  margin: 0;
  padding: 0;
 } 
.text-vcenter h3 {
  font-size: 2.5em;
  font-weight: 300;
  margin: 0;
  padding: 20px;
}

}

/* vertical-centered text */
  .text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* additional sections */
#home {
  background: url('../images/home.jpg') no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#introduction {
  padding-top: 10px;
}

#services {
  background-color: #306d9f;
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url('../images/tepapa.jpg') no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#information .panel {
  opacity: 0.85;
}

#themes {
  height: 500px;
  padding-top: 10px;
  position:relative;
}

#themes img {
padding-top: 30px;
 position:absolute;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;

}
#themes img.top:hover {
  opacity:0;
}


footer {
  padding: 250px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}
